 .sp{
    display: none;
 }
 body{
    font-family: Noto Sans Kannada;
 }
 
 /*トップページ */
.top{
min-height: 100vh;
width: 100%;
position: relative;
}
 /*トップビジュアル */
#slide {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
#slide ul{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}
#slide li{
  position: absolute;
  inset: 0;          /* top:0; right:0; bottom:0; left:0; と同じ */
  list-style: none;
}
#slide img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
 /*インジケーター */
#button ul{
display: flex;
gap: 20px;
justify-content: center;
align-items: center;
padding: 0;
top: 20px;
margin-top: -40px;
}
#button ul li{
list-style: none;
}
#button ul li a{
text-indent: -9999px;
text-decoration: none;
display: block;
width: 14px;
height: 14px;
border-radius: 7px;
background-color: #fff;
position: relative;
}
:root {
  --main-color: #1A83B2;
}
#button ul li a.active {
  background-color: var(--main-color);
}
.top h2{
color: #fff;
font-family:  'Libre Bodoni', serif;
font-size: 95px;
font-weight: 500;
text-align: center;
text-shadow: 0 0 8px rgb(0, 0, 0, 1.4);
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
margin: auto;
white-space: nowrap;
}
.scroll_fadein{
opacity: 0;
}
.fadein_animation_start{
animation-name: fadein_animation;
animation-delay: 0.3s;
animation-duration: 1s;
animation-fill-mode:both;
}
@keyframes fadein_animation{
0%{
opacity: 0;
}
100%{
opacity: 1;
transform: franslate(0);
}
}
.slldeup{
transform: translateY(50px);
}
.slidedown{
transform: translateY(-50px);
}
.slideright{
transform: translateX(50px);
}
.slideleft{
transform: translateX(-50px);
}


/* aboutトップメッセージ */
.about{
    padding: 125px 60px 0px 60px;
    margin: auto;
    max-width: 1245px;
}
.about_title{
	display: flex;
	align-items: center;
	gap:20px;
}
.about_title h2{
	color: #1983B2;
    font-size: 55px;
    font-family: Noto Sans Kannada;
    font-weight: bold;
    margin: 0;
}
.about_title h3{
	color: #707070;
	font-weight: 500;
}
.about p{
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    color: #333;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 15px;
}
.aboue_btn{
   display: flex;
    justify-content: center;
    margin-top: 35px;
}
.aboue_btn a{
    display: block;
    text-align: center;
    background-color: #fff;
    color: #1A83B2;
    border: solid 2px #1A83B2;
    margin: 0;
    align-items: center;
    font-family: Noto Sans Kannada;
    font-weight: bold;
    font-size: 26px;
    line-height: 50px;
    height: 50px;
    width: 152px;
    border-radius: 100vh;
    text-decoration: none;
}
.aboue_btn a:hover {
    background-color: #1A83B2;
    color: #fff;
    opacity: 0.7;
}

/* Workのトップページ*/
.work{
	padding: 125px 60px 0px 60px;
    margin: auto;
    max-width: 1245px;
}
.work_title{
	display: flex;
	align-items: center;
	gap:20px;
}
.work_title h2{
	color: #1983B2;
    font-size: 55px;
    font-family: Noto Sans Kannada;
    font-weight: bold;
    margin: 0;
}
.work_title h3{
	color: #707070;
	font-weight: 500;
}

/* Workのチョイスボタン*/
.btn {
    display: flex;
    justify-content: flex-end;
	align-items: center;
    gap: 25px;
}

/* 通常時 */
.choice a {
  text-decoration: none;
  color: #707070;
  font-family: Noto Sans Kannada;
  font-size: 20px;
  transition: color 0.3s;
  position: relative;
}

/* ホバー時 */
.choice a:hover {
  color: #1A83B2;
}

/* クリックして選択中（固定） */
.choice a.active {
  color: #1A83B2 !important; /* ← !importantを追加して優先度を上げる */
  font-weight: bold;
}
/* 「ALL」と「WEB」などの間に縦線 */
.choice a:not(:last-child)::after {
  content: "";
  position: absolute;
  right: -13px; /* gapに合わせて調整 */
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 20px;
  background-color: #707070; 
}

/* Workの制作物*/
.work_content{
	margin-top: 40px;
}

.work_content ul{
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 55px 0px;
    padding: 0;
    margin: 0;
    list-style: none;
}
.work_content ul li a:hover {
    opacity: 0.7;
}
.work_content ul li img{
    width: 340px;
    object-fit: cover;
}
.work_content ul li h2{
	margin: 0;
    margin-top: 5px;
    margin-bottom: 3px;
    font-size: 19px;
    color: #333;
    font-weight: 500;
}
.work_content ul li p{
    margin: 0;
    color: #707070;
    font-weight: 400;
    font-size: 14px;
}




/* 850px-1060px */
@media (min-width: 850px) and (max-width: 1060px) {
    .top h2{
        font-size: 50px;
    }
    .about p{
        font-size: 17px;
        line-height: 33px;
    }
    .work_content ul {
        gap: 35px 0px;
    }
    .work_content ul li img {
        width: 230px;
    }
	.work_content ul li h2{
		font-size: 13px;
		margin: 0;
	}
	.work_content ul li p {
		font-size: 12px;
	}

}
/* 600px-850px */
@media (min-width: 600px) and (max-width: 850px) {
    .top h2{
        font-size: 50px;
    }
    .about{
        padding-top: 50px;
    }
    .about_title,.work_title{
        gap:11px;
    }
    .about_title h2,.work_title h2{
        font-size: 38px;
    }
    .about_title h3,.work_title h3{
        font-size: 15px;
    }
    .about p{
        font-size: 17px;
        line-height: 33px;
    }
    .aboue_btn{
        margin-top: 25px;
    }
    .aboue_btn a{
        font-size: 23px;
        height: 48px;
        line-height: 48px;
        width: 136px;
    }
    .work{
        padding-top: 90px;
    }
   .choice a{
       font-size: 15px;
   }
    .work_content ul {
        gap: 35px 0px;
        grid-template-columns: 1fr 1fr;
    }
    .work_content ul li img {
        width: 220px;
    }
	.work_content ul li h2{
		font-size: 13px;
		margin: 0;
	}
	.work_content ul li p {
		font-size: 12px;
	}

}

/* 450px-600px */
@media (min-width : 450px) and (max-width : 600px) {
    .sp{
        display: block;
    }
     
    .top{
         min-height: 321px;
    }
     #slide {
    height: 50vh;
    }
    #button ul li a{
       width: 7px;
       height: 7px;
    }
     .top h2{
        font-size: 38px;
    }
    .about{
        padding: 25px 25px 0px 25px;
    }
    .about_title,.work_title{
        gap:8px;
    }
    .about_title h2,.work_title h2{
        font-size: 30px;
    }
    .about_title h3,.work_title h3{
        font-size: 12px;
    }
    .about p{
        font-size: 12px;
        line-height: 25px;
        margin: 0;
        margin-top: 5px;
    }
    .aboue_btn{
        margin-top: 20px;
    }
    .aboue_btn a{
        font-size: 19px;
        height: 41px;
        line-height: 41px;
        width: 113px;
    }
    .work{
       padding: 50px 25px 0px 25px;
       text-align: center;
    }
    .btn{
       display: flex;
       justify-content: center;
       align-items: center;
       gap: 25px;
       margin-top: 12px;
    }
   .choice a{
       font-size: 12px;
   }
    .work_content ul {
        gap: 35px 0px;
        grid-template-columns: 1fr 1fr;
    }
    .work_content ul li img {     
       width: 139px;
       height: 150px;
    }
	.work_content ul li h2{
		font-size: 10px;
		margin: 0;
	}
	.work_content ul li p {
		font-size: 8px;
	}

}

@media (min-width : 370px) and (max-width : 450px) {
    .sp{
        display: block;
    }
     
    .top{
         min-height: 321px;
    }
     #slide {
      height: auto;
      aspect-ratio: 17 / 13;
    }
    #button ul li a{
       width: 7px;
       height: 7px;
    }
     .top h2{
        font-size: 38px;
    }
    .about{
        padding: 25px 25px 0px 25px;
    }
    .about_title,.work_title{
        gap:8px;
    }
    .about_title h2,.work_title h2{
        font-size: 30px;
    }
    .about_title h3,.work_title h3{
        font-size: 12px;
    }
    .about p{
        font-size: 12px;
        line-height: 25px;
        margin: 0;
        margin-top: 5px;
    }
    .aboue_btn{
        margin-top: 20px;
    }
    .aboue_btn a{
        font-size: 19px;
        height: 41px;
        line-height: 41px;
        width: 113px;
    }
    .work{
       padding: 50px 25px 0px 25px;
       text-align: center;
    }
    .btn{
       display: flex;
       justify-content: center;
       align-items: center;
       gap: 25px;
       margin-top: 12px;
    }
   .choice a{
       font-size: 12px;
   }
    .work_content ul {
        gap: 35px 0px;
        grid-template-columns: 1fr 1fr;
    }
    .work_content ul li img {     
       width: 139px;
    }
	.work_content ul li h2{
		font-size: 10px;
		margin: 0;
	}
	.work_content ul li p {
		font-size: 8px;
	}

}



























